---
layout: layout.html
active_calendar: active
title: Kalender
include_navigation: true
dir: ../../
save_data: events
save_file: termine
---

<script src="{{ dir }}src/vendor/fullcalendar/index.global.min.js"></script>
<script src="{{ dir }}src/calendar.js"></script>

<!-- Kalender -->
<div id="calendar" class="monthCalendar" style="min-height: 600px;">
</div>

{% include "calendar/addEvent.html" %}
{% include "calendar/editEvent.html" %}

<script>
    window.addEventListener('baseDataLoaded', async function () {
        loadMultipleData(['patients-station', 'events', 'therapieplaene'], function (result) {
            initCalendar();
            updateCalendar();
        });
    });
</script>